body {
  font-family: 'Permanent Marker', cursive;
  background-color: #efefef;
  color: rgb(0, 0, 0);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


/*** HOME PAGE CSS ***/


.home-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.start-game-btn {
  display: flex;
  font-size: 6vh;
  text-align: center;
  align-items: center;
  text-decoration: none;
  color:aquamarine;
}

.start-game-btn:hover {
  cursor: pointer;
  color: blueviolet;
  font-size: 8vh;
  text-decoration:solid;
}


/*** GAME PAGE CSS ***/


.game-header {
  display: block;
  text-align: center;
  margin: auto;
  font-size: 6vh;
  color:rgb(0, 0, 0);
}

#game {
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  justify-content: center;
  align-items: center;
  width: 1000px;
  height: 1000px;
}

#game div {
  border: 5px solid black;
  width: 200px;
  height: 200px;
  margin: 20px 20px;
  /* display: inline-block; */

}

#game div:hover {
  cursor: pointer;
  transform: scale(.9);
  border: 5px solid red;
}






