body {
  font-family: 'Permanent Marker', cursive;
  background: radial-gradient(#efefef, #e3e2dc);
  color: rgb(0, 0, 0);
  margin: 0;
  padding: 0;
}


/*** HOME PAGE CSS ***/


.home-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.start-game-btn {
  display: flex;
  font-size: 6vh;
  text-align: center;
  align-items: center;
  text-decoration: none;
  color:rgb(39, 71, 60);
}

.start-game-btn:hover {
  cursor: pointer;
  color: blueviolet;
  font-size: 8vh;
  text-decoration:solid;
}


/*** GAME PAGE CSS ***/


.game-header {
  display: flex;
  margin: auto;
  justify-content: center;
  align-items: center;
  font-size: 50px;
  color: blueviolet;
  width: 800px;
  height: 70px;
}

#game {
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  justify-content: center;
  align-items: center;
  width: 800px;
  height: 700px;
}

#game div {
  border: 5px solid black;
  width: 140px;
  height: 140px;
  margin: 15px 15px;
}

#game div:hover {
  cursor: pointer;
  transform: scale(1.2);
  border: 12px solid rgb(0, 0, 0);
  box-sizing: border-box;
}


/* score board */

.score-board {
  display: flex;
  align-items: center;
  justify-content: right;
  font-size: 3vh;
  color:rgb(0, 0, 0);
  width: 675px;
  margin: auto;
}

#score {
  color:rgb(39, 71, 60)
}

#lowest-score {
  color:rgb(109, 208, 22)
}




