body {
  font-family: 'Permanent Marker', cursive;
  background-color: #efefef;
  color: rgb(0, 0, 0);
  margin: 0;
  padding: 0;
}


/*** HOME PAGE CSS ***/


.home-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.start-game-btn {
  display: flex;
  font-size: 6vh;
  text-align: center;
  align-items: center;
  text-decoration: none;
  color:rgb(39, 71, 60);
}

.start-game-btn:hover {
  cursor: pointer;
  color: blueviolet;
  font-size: 8vh;
  text-decoration:solid;
}


/*** GAME PAGE CSS ***/


.game-header {
  display: flex;
  margin: auto;
  justify-content: center;
  align-items: center;
  font-size: 6vh;
  color:rgb(0, 0, 0);
  width: 800px;
}

#game {
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  justify-content: center;
  align-items: center;
  width: 800px;
  height: 800px;
}

#game div {
  border: 5px solid black;
  width: 150px;
  height: 150px;
  margin: 15px 15px;
}

#game div:hover {
  cursor: pointer;
  transform: scale(1.2);
  border: 12px solid rgb(0, 0, 0);
  box-sizing: border-box;
}


/* work in progress: score board */
#score {
  display: flex;
  margin: auto;
  justify-content: center;
  align-items: center;
  font-size: 6vh;
  color:rgb(0, 0, 0);
  width: 1200px;
}




